// Backgrounds
$loginbackground: '../img/bg.jpg';
$brainstormBoardBg: '../img/photography.png';
$applicationBackground: #F1F1F1;
$sidebarBg: #232323;
// Colors
$green: #15cd72;
$red: #de3b44;
$blue: #0080FF;
$lightblue: #2796F8;
$gray: #272727;
$groupTitleGray: #878787;
$groupTitleGrayHover: #dbdbdb;
// Gradienti
$greenGradient: linear-gradient(180deg, #15cd72,#14bb68);
$redGradient: linear-gradient(180deg, #f06d73,#de3b44);
$blueGradient: linear-gradient(-180deg, #2796F8, #206EFF);
