// Backgrounds
$loginbackground: '../img/bg.jpg';
$brainstormBoardBg: '../img/photography.png';
$applicationBackgroundPattern: '../img/geometry.png';
$applicationBackground: #fdfdfd;
$sidebarBg: #1F222D;
// Colors
$green: #15cd72;
$red: #de3b44;
$blue: #0080FF;
$lightblue: #2796F8;
$gray: #272727;
$groupTitleGray: #878787;
$groupTitleGrayHover: #dbdbdb;
$sidebarOptionHover: #b7b7b7;
$boardBorder: #D5D5D5;
$labelColor: #494949;
// Gradienti
$greenGradient: linear-gradient(180deg, #15cd72,#14bb68);
$redGradient: linear-gradient(180deg, #f06d73,#de3b44);
$blueGradient: linear-gradient(-180deg, #4d90fe, #206EFF);
$googleBlue: linear-gradient(180deg,#4d90fe,#4787ed);
$sidebarGradient: linear-gradient(180deg, #1F222D, #15171e);
