@import "variables";
@import "mixins";
@import "components/buttons";
@import "components/sidebar";
@import "bootstrap-fixes/fixes";
@import "components/top";
@import "components/boards";
@import "components/addPopup";
@import "responsive/responsive-app";

*{
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: normal;
  font-size: 1.015em;
}
body{
  background: $applicationBackground !important;
}
#workspace{
  width: 100%;
  background: $applicationBackground;
  min-height: 100vh;
  max-height: auto;
  padding: 20px 100px;
  transition: 0.2s ease-in-out;

  // #workspace-content{
  //   background: #fff;
  //   @include custom-shadow(1px,2px,50px,-20px,0.5);
  //   padding: 20px;
  //   @include border-radius(4px);
  // }

  #pageContent{
    .subtitle{
      color: $groupTitleGray;
    }
  }
}
.sidebar-column{
  width: 12%;
  float: left;
}
.workspace-column{
  width: 88%;
  float: right;
}
.main-content{
  margin-top: -20px !important;
}
#loader{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 2;
}
// TODO napraviti loader
