.workspace-row{
  .col-sm-12, .col-md-6, .col-lg-4{
    margin-top: 60px;
  }
}

.workspace{
  width: 90%;
  height: 250px;
  background: #fff;
  border: 1px solid $boardBorder;
  @include border-radius(4px);
  padding: 10px 20px;
  cursor: pointer;
  word-wrap: break-word;
  position: relative;
  text-decoration: none;
  z-index: 2;
  transition: 0.17s ease-in-out;


  h4{
    font-size: 0.98em;
    color: $boardHeader;
  }

  p{
    font-size: 0.82em;
    color: $groupTitleGray;
  }
  .workspace-back1,.workspace-back2{
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 12px;
    background: #fff;
    border: 1px solid $boardBorder;
    @include custom-radius(4px,4px,0,0);
  }
  // .bookmark{
  //   position: absolute;
  //   top: -12px;
  //   width: 33%;
  //   height: 12px;
  //   //border: 1px solid $boardBorder;
  //   @include custom-radius(4px,4px,0,0);
  // }
  // .bookmark-green{
  //   background: $green;
  // }
  // .bookmark-red{
  //   background: $red;
  //   left: 35%;
  // }
  // .bookmark-blue{
  //   left: 55%;
  //   background: $blue;
  // }
  .workspace-back2{
    top: -23px;
    width: 80%;
  }

}
