<div id="pageContent">
<h2>Workspaces</h2>
<h4 class="subtitle">Important boards, grouped together in workspaces.</h4>
<div class="container-fluid">
  <div class="top col-md-12">

    <div class="col-md-3">
      <button class="btn button-blue button-small"><b>New Workspace</b></button>
    </div>

    <div class="col-md-offset-6 text-right">
      <button class="btn button-change-view button-active-view"><b><i class="pe-7s-keypad"></i></b></button>
      <button class="btn button-change-view button-non-active-view"><b><i class="pe-7s-menu"></i></b></button>
    </div>
  </div>

  <div class="group-title">
    <h5><b>All workspaces</b></h5>
  </div>


  <div class="main-content">
    <div class="row workspace-row">
      <a href="#">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="workspace">
            <div class="workspace-back1"></div>
            <div class="workspace-back2"></div>
            <h4><b>Workspace title</b></h4>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </a>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="workspace"></div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="workspace"></div>
      </div>
    </div>


  </div>
</div>

</div>
