<div id="workspacePageContent">
<h2>Workspaces</h2>
<h4 class="subtitle">Important boards, grouped together in workspaces.</h4>
<div class="container-fluid">
  <div class="top col-md-12">

    <div class="col-md-3">
      <button class="btn button-blue button-small" id="btnAddNewWorkspace"><b>New Workspace</b></button>
    </div>

    <div class="col-md-offset-6 text-right">
      <button class="btn button-change-view button-active-view"><b><i class="pe-7s-keypad"></i></b></button>
      <button class="btn button-change-view button-non-active-view"><b><i class="pe-7s-menu"></i></b></button>
    </div>
  </div>

  <div class="group-title">
    <h5><b>All workspaces</b></h5>
  </div>


  <div class="main-content">
    <div class="row workspace-row">
      <% if(hasWorkspaces) { %>
        <% workspaces.forEach(function(workspace) {%>
        <a href="#">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="workspace">
              <div class="workspace-back1"></div>
              <div class="workspace-back2"></div>
              <h4><b><%= workspace.title %></b></h4>
              <br>
              <p><%= workspace.description %></p>
            </div>
          </div>
        </a>
        <% }); %>
      <%} else {%>
      <div id="noWorkspacesMsg">
        <h2>Nema workspaceova</h2>
      </div>
    <% } %>
    </div>


  </div>
</div>

</div>


<!--Add popup-->
<% include partials/_addPopup.ejs %>