<div id="success-modal">
  <div class="btn-close-modal"><i class="pe-7s-close"></i></div>
  <div class="left-part">
    <i class="pe-7s-check"></i>
  </div>
  <div class="right-part">
    <h4></h4>
    <p></p>
  </div>
</div>

<div id="processing-modal">
  <div class="left-part">
    <i class="pe-7s-clock"></i>
  </div>
  <div class="right-part">
    <h4></h4>
    <p></p>
  </div>
</div>
