.button-signin {
  width: 100%;
  margin-top: 20px;
  height: 50px;
  background: linear-gradient(180deg, #15cd72, #14bb68) !important;
  color: #fff;
  transition: 0.2s ease;
  -webkit-box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.3);
  opacity: 1; }

.button-signin:hover {
  opacity: 0.78;
  color: #fff !important; }

.button-blue {
  width: 100%;
  margin-top: 20px;
  height: 50px;
  background: linear-gradient(-180deg, #4d90fe, #206EFF) !important;
  color: #fff;
  transition: 0.2s ease;
  -webkit-box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.3);
  opacity: 1; }

.button-blue:hover {
  opacity: 0.78;
  color: #fff !important; }

.button-blue:focus {
  color: #fff !important; }

.button-delete {
  width: 100%;
  margin-top: 20px;
  height: 50px;
  background: linear-gradient(180deg, #f06d73, #de3b44) !important;
  color: #fff;
  transition: 0.2s ease;
  -webkit-box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.3);
  opacity: 1; }

.button-delete:hover {
  opacity: 0.78;
  color: #fff !important; }

.button-delete:focus {
  color: #fff !important; }

.button-cancel {
  width: 100%;
  margin-top: 20px;
  height: 50px;
  background: linear-gradient(#fcfcfc, #f2f2f2) !important;
  color: #6e6e6e;
  border: 1px solid #D5D5D5 !important;
  transition: 0.1s ease;
  opacity: 1; }

.button-cancel:hover {
  color: #de3b44 !important; }

.shorten {
  width: 45%; }

.button-signin:active, .button-signin:focus, .button-blue:active, .button-blue:focus {
  color: #fff !important; }

.button-small, .button-small-moveleft {
  width: 150px;
  height: 37px;
  -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3); }

.button-small-moveleft {
  margin-left: 37px; }

.button-change-view {
  margin-top: 20px;
  width: 37px;
  height: 37px;
  font-size: 1.4em !important;
  padding: 0 !important;
  padding-top: 5px !important; }

.button-active-view {
  background: #0080FF;
  color: #fff;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 128, 255, 0.3);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 128, 255, 0.3);
  box-shadow: 0px 2px 6px 0px rgba(0, 128, 255, 0.3); }

.button-active-view:hover, .button-active-view:focus {
  color: #fff !important; }

.button-non-active-view {
  background: #fff;
  border: 1px solid #eae9e9 !important;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1); }

#sidebar {
  height: 100vh;
  width: 250px;
  background: linear-gradient(180deg, #1F222D, #15171e);
  padding-top: 80px;
  color: #fff;
  text-align: left;
  position: fixed;
  -webkit-box-shadow: 5px 0px 25px 0px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 5px 0px 25px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 5px 0px 25px 0px rgba(0, 0, 0, 0.04);
  transition: 0.2s ease-in-out;
  /*.bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;

    ul{
      list-style-type: none;
      padding: 0;

        a{
          color: #6A7583;
          text-decoration: none;

          li{
            padding-top: 6px;
            padding-left: 30px;
            padding-bottom: 6px;
            cursor: pointer;
            transition: 0.2s ease;
            //opacity: 0.7;
            font-family: 'Proxima Nova Lt';
            font-weight: bold;
            font-style: normal;
        }
      }
      li:hover{
        background: lighten($sidebarBg, 10);
        padding-left: 35px;
        color: $sidebarOptionHover;
      }
    }

/*    .footerLogo{
      background: darken($sidebarBg,7);
      padding: 10px 30px;
      margin: 0;
    }
  }*/ }
  #sidebar nav ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0; }
    #sidebar nav ul a {
      color: #6A7583;
      text-decoration: none; }
      #sidebar nav ul a li {
        padding-top: 12px;
        padding-left: 30px;
        padding-bottom: 12px;
        cursor: pointer;
        transition: 0.2s ease;
        font-family: 'Proxima Nova Lt';
        font-weight: bold;
        font-style: normal;
        vertical-align: middle; }
        #sidebar nav ul a li span {
          font-size: 0.9em;
          font-family: 'Proxima Nova Lt';
          font-weight: bold;
          font-style: normal; }
        #sidebar nav ul a li i {
          vertical-align: middle; }
    #sidebar nav ul li:hover {
      background: #34394b;
      padding-left: 35px;
      color: #b7b7b7; }
  #sidebar #toggleSidebar {
    width: 100%;
    height: 20px;
    background: #de3b44;
    cursor: pointer; }
  #sidebar #collapsed {
    display: none; }
    #sidebar #collapsed ul {
      text-align: center;
      display: block;
      padding: 0;
      padding-top: 10px; }
      #sidebar #collapsed ul a {
        color: #6A7583;
        text-decoration: none; }
        #sidebar #collapsed ul a li {
          padding-top: 30px;
          padding-bottom: 30px;
          cursor: pointer;
          transition: 0.2s ease;
          vertical-align: middle;
          font-size: 1.6em; }
        #sidebar #collapsed ul a li:hover {
          background: #34394b;
          color: #b7b7b7; }

.active {
  background: #34394b;
  padding-left: 35px;
  color: #b7b7b7;
  border-left: 4px solid #0080FF; }

.active-small {
  background: #34394b;
  color: #b7b7b7;
  border-left: 4px solid #0080FF; }

#topbar {
  width: 100%;
  height: 70px;
  background: #f7f7f7;
  position: fixed;
  z-index: 5 !important;
  -webkit-box-shadow: 5px 0px 25px 0px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 5px 0px 25px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 5px 0px 25px 0px rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid #ECEEF1; }
  #topbar .col-sm-4 {
    margin: 0;
    padding: 0; }
  #topbar .left-holder {
    width: 250px;
    float: left; }
  #topbar .right-holder {
    float: left;
    width: calc(100% - 250px); }
  #topbar ul {
    list-style-type: none;
    display: inline-block; }
    #topbar ul li {
      display: inline-block; }
  #topbar .topbar-left, #topbar .topbar-middle, #topbar .topbar-right {
    height: 70px;
    color: #606060; }
  #topbar .topbar-left {
    padding: 1px 25px;
    background: #292d3c;
    vertical-align: middle;
    color: #fff;
    transition: 0.2s ease-in-out;
    width: 250px;
    line-height: 20px; }
    #topbar .topbar-left i {
      margin-right: 10px;
      cursor: pointer;
      font-size: 1.15em; }
    #topbar .topbar-left #logotop {
      vertical-align: middle; }
    #topbar .topbar-left #toggleSidebar {
      vertical-align: middle; }
  #topbar .topbar-middle {
    padding: 15px 20px;
    transition: 0.2s ease-in-out; }
    #topbar .topbar-middle input {
      border: 2px solid #eae9e9;
      border-left: 4px solid #eae9e9;
      font-size: 1.1em;
      box-shadow: none;
      width: 50%;
      height: 40px;
      transition: 0.2s ease-in-out;
      padding-left: 15px;
      position: relative; }
    #topbar .topbar-middle input:focus {
      border: 2px solid #0080FF;
      border-left: 4px solid #0080FF;
      width: 80%; }
    #topbar .topbar-middle ::-webkit-input-placeholder {
      /* WebKit browsers */
      color: #939393; }
    #topbar .topbar-middle :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #939393; }
    #topbar .topbar-middle ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #939393; }
    #topbar .topbar-middle :-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: #939393; }
  #topbar .topbar-right {
    text-align: right; }
    #topbar .topbar-right .user-profile-btn {
      background: #f7f7f7;
      border-bottom: 1px solid #eae9e9;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px; }
    #topbar .topbar-right .btn:active {
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none; }
    #topbar .topbar-right .user-profile-main {
      margin-right: 20px;
      position: relative;
      cursor: pointer;
      vertical-align: middle;
      transition: 0.17s ease;
      padding: 15px 15px;
      height: 70px;
      font-size: 0.87em; }
      #topbar .topbar-right .user-profile-main .user-picture {
        width: 40px;
        height: 40px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
        -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17); }
      #topbar .topbar-right .user-profile-main i {
        font-size: 1.3em;
        font-weight: bold;
        vertical-align: middle; }
    #topbar .topbar-right .user-profile-btn:hover {
      background: #eaeaea;
      color: #000; }
    #topbar .topbar-right .user-options {
      display: none;
      position: absolute;
      top: 71px;
      right: 20px;
      width: 250px;
      background: #fff;
      border: 1px solid #ccc;
      -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
      -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
      -webkit-border-top-left-radius: 0px;
      -webkit-border-top-right-radius: 0px;
      -webkit-border-bottom-right-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-topleft: 0px;
      -moz-border-radius-topright: 0px;
      -moz-border-radius-bottomright: 4px;
      -moz-border-radius-bottomleft: 4px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px; }
      #topbar .topbar-right .user-options ul {
        text-align: left;
        display: block;
        padding: 0;
        padding-top: 10px; }
        #topbar .topbar-right .user-options ul hr {
          padding: 0;
          margin: 0;
          padding-top: 6px; }
        #topbar .topbar-right .user-options ul a {
          color: #606060; }
          #topbar .topbar-right .user-options ul a li {
            list-style-type: none;
            display: block;
            text-align: left;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 30px;
            font-size: 1em;
            cursor: pointer;
            transition: 0.2s ease; }
            #topbar .topbar-right .user-options ul a li i {
              vertical-align: middle;
              font-size: 1.6em; }
          #topbar .topbar-right .user-options ul a li:hover {
            background: #0080FF;
            color: #fff;
            padding-left: 35px; }
    #topbar .topbar-right .addNewDialog-dropdown {
      display: none;
      position: absolute;
      top: 71px;
      right: 20px;
      width: 300px;
      background: #fff;
      border: 1px solid #ccc;
      -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
      -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
      -webkit-border-top-left-radius: 0px;
      -webkit-border-top-right-radius: 0px;
      -webkit-border-bottom-right-radius: 4px;
      -webkit-border-bottom-left-radius: 4px;
      -moz-border-radius-topleft: 0px;
      -moz-border-radius-topright: 0px;
      -moz-border-radius-bottomright: 4px;
      -moz-border-radius-bottomleft: 4px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px; }
      #topbar .topbar-right .addNewDialog-dropdown ul {
        text-align: left;
        display: block;
        padding: 0;
        padding-top: 10px; }
        #topbar .topbar-right .addNewDialog-dropdown ul div {
          color: #606060; }
          #topbar .topbar-right .addNewDialog-dropdown ul div li {
            list-style-type: none;
            display: block;
            text-align: left;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 15px;
            font-size: 1em;
            cursor: pointer;
            transition: 0.2s ease; }
            #topbar .topbar-right .addNewDialog-dropdown ul div li .description {
              font-size: 0.87em;
              color: #999; }
          #topbar .topbar-right .addNewDialog-dropdown ul div li:hover {
            background: #0080FF;
            color: #fff;
            padding-left: 20px; }
            #topbar .topbar-right .addNewDialog-dropdown ul div li:hover .description {
              color: #fff; }
  #topbar .nav-icon {
    font-size: 1.5em;
    font-weight: bold; }
  #topbar .dropdown-menu-icon {
    font-size: 1.3em;
    vertical-align: middle; }
  #topbar .plus-icon, #topbar .help-icon {
    vertical-align: middle;
    padding-left: 5px; }
  #topbar #btnAddNew-dropdown {
    height: 70px;
    padding-top: 25px;
    padding-left: 10px;
    transition: 0.17s ease; }

.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
  /*.col-md-10, .col-md-2{
    padding: 0 !important;
    margin: 0 !important;
  }*/ }
  .container-fluid .col-md-12 {
    padding: 0 !important; }

.top {
  margin-bottom: 25px; }
  .top .col-md-3, .top .col-md-offset-6 {
    margin: 0;
    padding: 0; }
  .top .custom-picker {
    width: 100px !important; }
  .top .btn-default {
    background: #fff;
    transition: 0.1s ease;
    border: 1px solid #eae9e9;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    height: 37px; }
  .top .btn-default:hover, .top .btn-default:active {
    background: #fff !important;
    border: 1px solid #eae9e9 !important;
    outline: none !important; }
  .top .btn-default.active, .top .btn-default:active, .top .open > .dropdown-toggle.btn-default, .top .btn-default:visited, .top .btn-default.focus, .top .btn-default:focus {
    background: #fff !important;
    border: 1px solid #eae9e9 !important; }
  .top .dropdown-menu > li > a {
    height: 32px;
    padding-top: 6px;
    transition: 0.2s ease; }
  .top .dropdown-menu > li > a:hover {
    background: #0080FF;
    color: #fff;
    padding-left: 27px; }
  .top .bluedot {
    width: 10px;
    height: 10px;
    background: #0080FF;
    color: #0080FF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }

.board-row .col-sm-6, .board-row .col-md-4, .board-row .col-lg-3 {
  margin-top: 25px; }

.loading {
  opacity: 0.5; }

.group-title {
  color: #878787; }

.type-title {
  color: #878787;
  font-size: 0.82em; }

a {
  text-decoration: none !important; }

.board {
  width: 100%;
  background: #fff;
  height: 160px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 2px 50px -20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 2px 50px -20px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 50px -20px rgba(0, 0, 0, 0.5);
  padding: 2px 10px;
  cursor: pointer;
  transition: 0.17s ease;
  word-wrap: break-word;
  border: 1px solid #D5D5D5;
  text-decoration: none !important;
  position: relative; }
  .board h4 {
    font-size: 0.96em;
    color: #333333;
    padding-right: 30px; }
  .board .title-wrapper {
    max-height: 65px; }
  .board .type-wrapper {
    max-height: 10px; }
  .board .description-wrapper {
    padding-top: 5px;
    max-height: 60px;
    overflow: hidden; }
  .board p.description {
    font-size: 0.82em;
    color: #878787;
    padding-right: 30px;
    overflow: hidden; }
  .board .more {
    position: absolute;
    top: 32px;
    right: 0;
    width: 40px;
    font-size: 1.2em;
    display: none;
    background: transparent;
    text-align: center; }
  .board .pin {
    position: absolute;
    top: 5px;
    right: 0;
    width: 40px;
    font-size: 1.2em;
    display: none;
    background: transparent;
    text-align: center; }
  .board .more:hover, .board .pin:hover {
    color: #cccccc; }
  .board .more-dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: -20px;
    width: 200px;
    height: 150px;
    background: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    color: #606060;
    z-index: 11; }
    .board .more-dropdown ul {
      text-align: left;
      display: block;
      padding: 0;
      padding-top: 10px; }
      .board .more-dropdown ul hr {
        padding: 0;
        margin: 0;
        padding-bottom: 5px; }
      .board .more-dropdown ul li {
        list-style-type: none;
        display: block;
        text-align: left;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 15px;
        font-size: 0.96em;
        cursor: pointer;
        transition: 0.2s ease; }
      .board .more-dropdown ul li:hover {
        background: #0080FF;
        color: #fff;
        padding-left: 20px; }

.loading {
  opacity: 0.5; }

.board-Project {
  border-left: 4px solid #0080FF; }

.board-Idea {
  border-left: 4px solid #de3b44; }

.board-Brainstorm {
  border-left: 4px solid #15cd72; }

.board-Todo {
  border-left: 4px solid #f1c40f; }

.board:hover {
  -webkit-transform: translateZ(0); }
  .board:hover .type-title {
    color: #fff; }
  .board:hover p {
    color: #fff; }
  .board:hover h4 {
    color: #fff; }
  .board:hover .more {
    display: block; }
  .board:hover .pin {
    display: block; }

.board:active {
  transform: scale(0.95); }

.board-Project:hover {
  border: 1px solid #0080FF;
  border-left: 20px solid #0080FF;
  background: #0080FF;
  color: #fff;
  z-index: 10; }

.board-Idea:hover {
  border: 1px solid #de3b44;
  border-left: 20px solid #de3b44;
  background: #de3b44;
  color: #fff;
  z-index: 10; }

.board-Brainstorm:hover {
  border: 1px solid #15cd72;
  border-left: 20px solid #15cd72;
  background: #15cd72;
  color: #fff;
  z-index: 10; }

.board-Todo:hover {
  border: 1px solid #f1c40f;
  border-left: 20px solid #f1c40f;
  background: #f1c40f;
  color: #fff;
  z-index: 10; }

/*.hvr-sweep-to-right:before{ videti mozda da se ubaci
  background: $blue !important;
}*/
.workspace-row .col-sm-12, .workspace-row .col-md-6, .workspace-row .col-lg-4 {
  margin-top: 60px; }

.workspace {
  width: 90%;
  height: 250px;
  background: #fff;
  border: 1px solid #D5D5D5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  word-wrap: break-word;
  position: relative;
  text-decoration: none;
  z-index: 2;
  transition: 0.17s ease-in-out; }
  .workspace h4 {
    font-size: 0.98em;
    color: #333333; }
  .workspace p {
    font-size: 0.82em;
    color: #878787; }
  .workspace .workspace-back1, .workspace .workspace-back2 {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 12px;
    background: #fff;
    border: 1px solid #D5D5D5;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .workspace .workspace-back2 {
    top: -23px;
    width: 80%; }

#addPopup {
  display: none; }
  #addPopup .overlay {
    width: 100%;
    min-height: 100%;
    max-height: auto;
    position: relative; }
    #addPopup .overlay #btn-close-dialog {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 4em;
      font-weight: bold;
      cursor: pointer;
      z-index: 1; }
    #addPopup .overlay .addFormBody {
      width: 100%;
      min-height: 100%;
      max-height: auto; }
      #addPopup .overlay .addFormBody .line {
        width: 100%;
        height: 4px;
        background: #0080FF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px; }
      #addPopup .overlay .addFormBody .form-header {
        padding: 10px 20px; }
        #addPopup .overlay .addFormBody .form-header h4 {
          color: #878787; }
      #addPopup .overlay .addFormBody #choosingType {
        width: 100%;
        height: 100%; }
        #addPopup .overlay .addFormBody #choosingType .col-md-3 {
          padding-top: 10px; }
          #addPopup .overlay .addFormBody #choosingType .col-md-3 .board {
            text-align: left;
            margin-top: 10px;
            height: 200px; }
      #addPopup .overlay .addFormBody #boardDetails {
        padding: 20px;
        display: none;
        width: 100%;
        height: 100%; }
        #addPopup .overlay .addFormBody #boardDetails .col-md-10 {
          padding: 0; }
        #addPopup .overlay .addFormBody #boardDetails #addBoardForm {
          margin-top: 20px; }
          #addPopup .overlay .addFormBody #boardDetails #addBoardForm label {
            padding-left: 2px;
            color: #494949; }
          #addPopup .overlay .addFormBody #boardDetails #addBoardForm col-md-6 {
            margin-left: 20px; }
        #addPopup .overlay .addFormBody #boardDetails input {
          height: 50px;
          box-shadow: none !important;
          font-size: 0.99em; }
        #addPopup .overlay .addFormBody #boardDetails input:focus {
          border-left: 3px solid #0080FF;
          border-color: #0080FF; }
        #addPopup .overlay .addFormBody #boardDetails textarea {
          resize: none;
          box-shadow: none !important;
          font-size: 0.99em; }
        #addPopup .overlay .addFormBody #boardDetails textarea:focus {
          border-left: 3px solid #0080FF;
          border-color: #0080FF; }
        #addPopup .overlay .addFormBody #boardDetails .col-md-6 {
          margin: 0;
          padding: 0; }
        #addPopup .overlay .addFormBody #boardDetails select {
          width: 100%;
          cursor: pointer;
          height: 50px; }
          #addPopup .overlay .addFormBody #boardDetails select option {
            height: 50px; }
        #addPopup .overlay .addFormBody #boardDetails select:focus {
          border-left: 3px solid #0080FF;
          border-color: #0080FF; }
        #addPopup .overlay .addFormBody #boardDetails #boardTeam {
          width: 90%; }
        #addPopup .overlay .addFormBody #boardDetails #boardWorkspace {
          float: left; }
        #addPopup .overlay .addFormBody #boardDetails #btnSubmitNewBoard {
          float: right;
          margin-left: 20px; }
        #addPopup .overlay .addFormBody #boardDetails #btnCancelInput {
          float: right; }

#confirmArchivePopup {
  display: none; }
  #confirmArchivePopup .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 11; }
    #confirmArchivePopup .overlay .confirmArchiveDialog {
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translateX(-50%);
      width: 600px;
      height: 240px;
      background: #fff;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
      -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
      padding-top: 10px; }
      #confirmArchivePopup .overlay .confirmArchiveDialog .popup-header {
        padding-left: 30px;
        padding-right: 30px; }
        #confirmArchivePopup .overlay .confirmArchiveDialog .popup-header span {
          font-weight: bold; }
      #confirmArchivePopup .overlay .confirmArchiveDialog .popup-body {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 0.95em; }
      #confirmArchivePopup .overlay .confirmArchiveDialog .popup-buttons {
        padding: 5px 30px; }

@media (max-width: 1400px) {
  #workspace {
    padding-left: 160px !important;
    padding-right: 50px !important; } }
@media (max-width: 850px) {
  #workspace {
    padding-left: 190px !important;
    padding-right: 40px !important; } }
@media (max-width: 600px) {
  #sidebar {
    display: none !important; }

  .workspace-column {
    width: 100% !important; }

  #workspace {
    padding-left: 20px !important;
    padding-right: 20px !important; } }
* {
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: normal;
  font-size: 1.015em; }

body {
  background: #fdfdfd !important; }

.btn:focus {
  outline: none !important; }

#workspace {
  width: 100%;
  background: #fdfdfd;
  min-height: 100vh;
  max-height: auto;
  padding: 20px 100px;
  transition: 0.2s ease-in-out;
  padding-top: 80px;
  color: #333E5C; }
  #workspace #pageContent .subtitle {
    color: #878787; }

.sidebar-column {
  width: 12%;
  float: left;
  z-index: 2 !important; }

.workspace-column {
  width: 88%;
  float: right; }

.main-content {
  margin-top: -20px !important; }

#loader {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 2; }

/*# sourceMappingURL=app.css.map */
