.button-signin {
  width: 100%;
  margin-top: 20px;
  height: 50px;
  background: linear-gradient(180deg, #15cd72, #14bb68) !important;
  color: #fff;
  transition: 0.2s ease;
  -webkit-box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.75);
  opacity: 1; }

.button-signin:hover {
  opacity: 0.78;
  color: #fff !important; }

.button-blue {
  width: 100%;
  margin-top: 20px;
  height: 50px;
  background: linear-gradient(-180deg, #2796F8, #206EFF) !important;
  color: #fff;
  transition: 0.2s ease;
  -webkit-box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 7px -2px rgba(0, 0, 0, 0.75);
  opacity: 1;
  border-bottom: 1px solid #2796F8; }

.button-blue:hover {
  opacity: 0.78;
  color: #fff !important; }

.button-signin:active, .button-signin:focus, .button-blue:active, .button-blue:focus {
  color: #fff !important; }

.button-small {
  width: 150px;
  height: 37px;
  -webkit-box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75); }

#sidebar {
  height: 100vh;
  width: 250px;
  background: linear-gradient(180deg, #1F222D, #15171e);
  color: #fff;
  text-align: left;
  position: fixed; }
  #sidebar .userInfo {
    width: 100%;
    height: 300px;
    padding: 50px 15px;
    text-align: center;
    color: #f5f5f5;
    background: #15171e;
    transition: 0.2s ease;
    cursor: pointer; }
    #sidebar .userInfo .profileImg {
      width: 120px;
      height: 120px;
      background: #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      margin-bottom: 5px; }
    #sidebar .userInfo p {
      font-size: 0.93em;
      opacity: 0.5; }
  #sidebar .userInfo:hover {
    background: #232733; }
  #sidebar nav ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0; }
    #sidebar nav ul a {
      color: #6A7583;
      text-decoration: none; }
      #sidebar nav ul a li {
        padding-top: 8px;
        padding-left: 30px;
        padding-bottom: 8px;
        cursor: pointer;
        transition: 0.2s ease;
        font-family: 'Proxima Nova Lt';
        font-weight: bold;
        font-style: normal; }
    #sidebar nav ul li:hover {
      background: #34394b;
      padding-left: 35px;
      color: #b7b7b7; }
  #sidebar .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0; }
    #sidebar .bottom ul {
      list-style-type: none;
      padding: 0; }
      #sidebar .bottom ul a {
        color: #6A7583;
        text-decoration: none; }
        #sidebar .bottom ul a li {
          padding-top: 6px;
          padding-left: 30px;
          padding-bottom: 6px;
          cursor: pointer;
          transition: 0.2s ease;
          font-family: 'Proxima Nova Lt';
          font-weight: bold;
          font-style: normal; }
      #sidebar .bottom ul li:hover {
        background: #34394b;
        padding-left: 35px;
        color: #b7b7b7; }
    #sidebar .bottom .footerLogo {
      background: #101218;
      padding: 10px 30px;
      margin: 0; }

.active {
  background: #34394b;
  padding-left: 35px;
  color: #b7b7b7;
  border-left: 4px solid #de3b44; }

.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
  /*.col-md-10, .col-md-2{
    padding: 0 !important;
    margin: 0 !important;
  }*/ }
  .container-fluid .col-md-12 {
    padding: 0 !important; }

.top {
  margin-bottom: 25px; }

.board-row .col-sm-6, .board-row .col-md-4, .board-row .col-lg-3 {
  margin-top: 25px; }

.group-title {
  color: #878787; }

.type-title {
  color: #878787; }

.board {
  width: 100%;
  background: #fff;
  height: 150px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
  padding: 2px 10px;
  cursor: pointer;
  transition: 0.2s ease;
  word-wrap: break-word;
  overflow: hidden; }
  .board p {
    font-size: 0.82em; }

.board-blue {
  border-left: 4px solid #0080FF; }

.board-red {
  border-left: 4px solid #de3b44; }

.board-green {
  border-left: 4px solid #15cd72; }

.board:hover .type-title {
  color: #dbdbdb; }

.board-blue:hover {
  border-left: 20px solid #0080FF;
  background: #0080FF;
  color: #fff; }

.board-red:hover {
  border-left: 20px solid #de3b44;
  background: #de3b44;
  color: #fff; }

.board-green:hover {
  border-left: 20px solid #15cd72;
  background: #15cd72;
  color: #fff; }

/*.hvr-sweep-to-right:before{ videti mozda da se ubaci
  background: $blue !important;
}*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: none; }

.addFormBody {
  width: 900px;
  height: 900px; }

@media (max-width: 1400px) {
  #workspace {
    padding-left: 160px !important;
    padding-right: 50px !important; } }
@media (max-width: 850px) {
  #workspace {
    padding-left: 190px !important;
    padding-right: 40px !important; } }
@media (max-width: 600px) {
  #sidebar {
    display: none !important; }

  .workspace-column {
    width: 100% !important; }

  #workspace {
    padding-left: 20px !important;
    padding-right: 20px !important; } }
* {
  font-family: 'Proxima Nova Rg';
  font-weight: normal;
  font-style: normal;
  font-size: 1.02em; }

body {
  background: #f5f5f5 !important; }

#workspace {
  width: 100%;
  background: #f5f5f5;
  min-height: 100vh;
  max-height: auto;
  padding: 20px 100px; }

.sidebar-column {
  width: 12%;
  float: left; }

.workspace-column {
  width: 88%;
  float: right; }

.main-content {
  margin-top: -20px !important; }

/*# sourceMappingURL=app.css.map */
