#success-modal{
  display: none;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 80px;
  background: lighten($green,40);
  border: 1px solid $green;
  @include border-radius(4px);
  @include custom-shadow(0px, 3px, 5px, 0px, 0.17);
  z-index: 12;
  color: darken($green,10);
  padding: 5px 10px;

  h4{
    font-size: 1.15em;
  }
  p{
    font-size: 0.87em;
  }

  .left-part,.right-part{
    float: left;

    i{
      padding-top: 13px;
      font-size: 2.4em;
    }
  }
  .right-part{
    padding-left: 10px;
  }

  .btn-close-modal{
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 2em;
    cursor: pointer;
  }
  .btn-close-modal:hover{
    color: darken($green,20);
  }
}
