<!DOCTYPE html>
<html>
  <head>
    <title>Stormboards | Welcome</title>
    <link rel='stylesheet' href='../../css/app.css' />
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.0/css/hover-min.css">
    <link rel="stylesheet" href="../../css/animate.min.css">
  </head>
  <body>


    <div class="container-fluid app">
      <div class="sidebar-column">
        <div id="sidebar">
          <div class="userInfo">
            <img class="profileImg" src="img/<%=user.picture%>"></img>
            <h4><%=user.fullName%></h4>
            <p><%=user.email%></p>

          </div>

          <nav>
            <ul>
              <a href="/boards"><li class="active">ico Boards ( <span id="numberOfBoards"><%=boardCount%></span> )</li></a>
              <a href="/workspaces"><li>ico Workspaces</li></a>
              <a href="#"><li>ico Teams</li></a>
              <a href="#"><li>ico Archive</li></a>
              <a href="#"><li>ico Statistics</li></a>
              <a href="/test"><li>Test</li></a>
              <a href="/test2"><li>Test2</li></a>
            </ul>
          </nav>

          <div class="bottom">
            <ul>
              <a href="#"><li>ico Account</li></a>
              <a href="#"><li>ico Settings</li></a>
              <a href="/logout"><li>ico Logout</li></a>
            </ul>
            <div class="footerLogo">
              Stormboards
            </div>
          </div>

        </div>
      </div>
      <div class="workspace-column">
        <div id="workspace">
          <div id="workspace-content">

          </div>

      </div><!--kraj workspacea-->
      <!--Popup bio ovde-->

      </div><!--kraj workspace columna-->

    </div>


    <script src="../../js/jquery.min.js" charset="utf-8"></script>
    <script src="../../js/bootstrap.min.js" charset="utf-8"></script>
    <script src="../../api/boards/createBoard.js" charset="utf-8"></script>
    <script src="../../interaction/newBoard.js" charset="utf-8"></script>
    <script src="../../js/velocity.js" charset="utf-8"></script>
    <script src="../../js/page.js" charset="utf-8"></script>
    <script src="../../js/routing.js" charset="utf-8"></script>
  </body>
</html>
