<!DOCTYPE html>
<html>
  <head>
    <title>Stormboards | Welcome</title>
    <link rel='stylesheet' href='../../css/app.css' />
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.0/css/hover-min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="../../css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="../../css/animate.min.css">
  </head>
  <body>


    <div class="container-fluid app">
      <div id="topbar">

        <div class="col-sm-3">
          <div class="topbar-left">
            <h3><i class="pe-7s-menu" id="toggleSidebar"></i> Stormboards</h3>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="topbar-middle">
            <input type="text" autocomplete="off" class="form-control" placeholder="Search for boards, workspaces, cards...">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="topbar-right">

            <div class="user-profile-main">
              <b><%=user.fullName%></b> <span><img class="user-picture" src="img/<%=user.picture%>"></img> <i class="pe-7s-angle-down"></i></span>
            </div>

          </div>
        </div>

      </div>

      <div class="sidebar-column">
        <div id="sidebar">
          <div id="spreaded">

            <nav>
              <ul>
                <a href="/boards"><li><i class="pe-7s-photo-gallery"></i> Boards ( <span id="numberOfBoards"><%=boardCount%></span> )</li></a>
                <a href="/workspaces"><li><i class="pe-7s-albums"></i> Workspaces</li></a>
                <a href="#"><li><i class="pe-7s-users"></i> Teams</li></a>
                <a href="#"><li><i class="pe-7s-trash"></i> Archive</li></a>
                <a href="#"><li><i class="pe-7s-graph1"></i> Statistics</li></a>
                <a href="/test"><li>Test</li></a>
                <a href="/test2"><li>Test2</li></a>
              </ul>
            </nav>

<!--             <div class="bottom">
              <ul>
                <a href="#"><li>ico Account</li></a>
                <a href="#"><li>ico Settings</li></a>
                <a href="/logout"><li>ico Logout</li></a>
              </ul>
            </div> -->
          </div>

          <div id="collapsed">
            <p>collapsed</p>
            <!--TODO ovde izgenerisati html kako ce izgledati colapsovan sidebar-->
          </div>
        </div>
      </div>
      <div class="workspace-column">
        <div id="workspace">
          <div id="workspace-content">

          </div>

      </div><!--kraj workspacea-->
      <!--Popup bio ovde-->

      </div><!--kraj workspace columna-->

    </div>


    <script src="../../js/jquery.min.js" charset="utf-8"></script>
    <script src="../../js/bootstrap.min.js" charset="utf-8"></script>
    <script src="../../api/boards/createBoard.js" charset="utf-8"></script>
    <script src="../../interaction/newBoard.js" charset="utf-8"></script>
    <script src="../../js/velocity.js" charset="utf-8"></script>
    <script src="../../js/page.js" charset="utf-8"></script>
    <script src="../../js/routing.js" charset="utf-8"></script>
    <script src="../../interaction/sidebarCollapse.js" charset="utf-8"></script>
  </body>
</html>
