<div id="addBoardToWorkspaces">
  <div class="overlay">
    <div class="addBoardToWorkspacesDialog">
      <div class="popup-header">
        <h4><b>Add '<span id="boardToAddName"></span>' board.</b></h4>
      </div>
      <hr>
      <div class="popup-body">
        
        <form id="addBoardToWorkspacesForm" action="" method="post">

          <label>Title</label>
          <select class="workspacesMultiselect" multiple="multiple">
              
          </select>

          <button class="btn button-signin button-small" type="submit" name="button" id="btnSubmitBoardToWorkspaces"><b>Add</b></button>

          <button class="btn button-cancel button-small" name="button" id="btnCancelBoardToWorkspaces"><b>Cancel</b></button>
                
        </form>

      </div>
    </div>
  </div>
</div>