<div id="confirmArchivePopup">
  <div class="overlay">
    <div class="confirmArchiveDialog">
      <div class="popup-header">
        <h4><b>Archive <span id="nameOfBoardToDelete">'ime boarda'</span> board?</b></h4>
      </div>
      <hr>
      <div class="popup-body">
        <p>Moving this board to archive will not delete it, you will still be able to access and restore it through the archive page. To delete it permamently, delete it from the archive.</p>
      </div>
      <div class="popup-buttons">
        <button id="btnConfirmArchive" class="btn button-delete button-small"><b>Archive</b></button>
        <button id="btnCancelArchive" class="btn button-cancel button-small"><b>Cancel</b></button>
      </div>
    </div>
  </div>
</div>