<div id="success-modal">
  <div class="btn-close-modal"><i class="pe-7s-close"></i></div>
  <div class="left-part">
    <i class="pe-7s-check"></i>
  </div>
  <div class="right-part">
    <h4>Completed.</h4>
    <p>Succesfully created new board.</p>
  </div>
</div>

<div id="processing-modal">
  <div class="left-part">
    <i class="pe-7s-clock"></i>
  </div>
  <div class="right-part">
    <h4>Creating board...</h4>
    <p>Just a second.</p>
  </div>
</div>
