<!DOCTYPE html>
<html>
  <head>
    <title>Stormboards | Welcome</title>
    <link rel='stylesheet' href='../../css/app.css' />
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.0/css/hover-min.css">
    <link rel="stylesheet" href="../../css/animate.min.css">
  </head>
  <body>


    <div class="container-fluid app">
      <div class="sidebar-column">
        <div id="sidebar">
          <div class="userInfo">
            <%if(user.picture) {%>
            <img class="profileImg" src="img/<%=user.picture%>"></img>
            <%} else {%>
              <img class="profileImg" src="img/no-avatar.png"></img>
            <%}%>
            <h4><%=user.fullName%></h4>
            <p><%=user.email%></p>

          </div>

          <nav>
            <ul>
              <a href="#"><li class="active">ico Boards</li></a>
              <a href="#"><li>ico Workspaces</li></a>
              <a href="#"><li>ico Teams</li></a>
              <a href="#"><li>ico Archive</li></a>
              <a href="#"><li>ico Statistics</li></a>
            </ul>
          </nav>

          <div class="bottom">
            <ul>
              <a href="#"><li>ico Account</li></a>
              <a href="#"><li>ico Settings</li></a>
              <a href="/logout"><li>ico Logout</li></a>
            </ul>
            <div class="footerLogo">
              Stormboards
            </div>
          </div>

        </div>
      </div>
      <div class="workspace-column">
        <div id="workspace">
          <h1>My Boards</h1>
          <h4>All boards that you are currently working on.</h4>
          <div class="container-fluid">
            <div class="top col-md-12">
                <button class="btn button-blue button-small" id="btnAddNewBoard"><b>+ New Board</b></button>
            </div>
            <div class="group-title">
              <h5><b>All boards</b></h5>
            </div>


            <div class="main-content">
              <div class="row board-row" id="allBoards">
                <!--Odavde brisati ove nepotrebne-->
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="board board-blue">
                    <h4><b>Hci projekat</b></h4>
                    <div class="type-title"><h5> <b>Project | HCI</b></h5></div>
                    <p>Ovde da ide ili goal ili desc.</p>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="board board-red">
                    <h4><b>Baze usmeni</b></h4>
                    <div class="type-title"><h5><b>Idea</b></h5></div>
                    <p>Nauciti baze za usmeni u cetvrtak</p>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="board board-green">
                    <h4><b>Moj novi projekat</b></h4>
                    <div class="type-title"><h5><b>Brainstorm</b></h5></div>
                    <p>Brainstormovanje za novi projekat</p>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="board board-red">
                    <h4><b>Baze usmeni</b></h4>
                    <div class="type-title"><h5><b>Idea</b></h5></div>
                    <p>Nauciti baze za usmeni u cetvrtak. Napisati skriptu za baze i uraditi projekat za 27.</p>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="board board-green">
                    <h4><b>Ideje za imena</b></h4>
                    <div class="type-title"><h5><b>Brainstorm</b></h5></div>
                    <p>Brainstormovanje za imena aplikacije.</p>
                  </div>
                </div>

                <% if(hasBoards) {%>
                  <% boards.forEach(function(board) {%>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                      <div class="board board-blue">
                        <h4><b><%= board.title%></b></h4>
                        <div class="type-title"><h5><b>Brainstorm</b></h5></div>
                        <p>Brainstormovanje za imena aplikacije.</p>
                      </div>
                    </div>
                  <% }); %>
                <%} else {%>
                  <h2>Nema boardova</h2>
                <%}%>
              </div>
            </div>
            <form class="" id="testPostForm" action="/boards/addBoard" method="post">
              <input type="text" name="testPost" id="testPostIn" value="">
              <button type="submit" name="button" id="testPostBtn">Test post</button>
            </form>
          </div>
        </div>
      </div>
      <!--Popup-->
      <div id="addPopup">
        <div class="overlay">
          <div class="addFormBody">
            <div class="form-header">
              <h4>Create new board</h4>
            </div>

            <div id="choosingType">
              <h4><b>Choose board type</b></h4>
              <div class="row">
                <div class="col-md-4">
                  <div class="board board-blue chosen">
                    <h4><b>Project</b></h4>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="board board-red chosen">
                    <h4><b>Idea</b></h4>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="board board-green chosen">
                    <h4><b>Brainstorm</b></h4>
                  </div>
                </div>
                <div class="col-md-4">

                </div>
              </div>
            </div>

            <div id="boardDetails">
              <h4><b id="boardDetailsHeader"></b></h4>
              <form id="addBoardForm" action="" method="post"><!--TODO dodaj ovde action-->
                <div class="form-group">
                  <input type="hidden" type="text" class="form-control" name="type" id="boardType">
                </div>

                <div class="form-group">
                  <input autocomplete="off" type="text" class="form-control" placeholder="Title" name="title" id="boardTitle">
                </div>

                <div class="form-group">
                  <textarea class="form-control" placeholder="Description" name="description" id="boardDescription" rows="5"></textarea>
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Goal (What do you want to accomplish)" name="goal" id="boardGoal">
                </div>


                <div class="col-md-6"><select type="text" class="form-control" placeholder="Team" name="team" id="boardTeam"><!--TODO ovde populatovati timove foreach tim bacaj opciju sa timom kojem user pripada-->
                  <option>Personal board</option>
                  <option>Team1</option>
                </select></div>


                <div class="col-md-6"><select type="text" class="form-control" placeholder="Workspace" name="workspace" id="boardWorkspace"><!--TODO ovde populatovati timove foreach tim bacaj opciju sa timom kojem user pripada-->
                  <option>No workspace</option>
                  <option>WS1</option>
                </select></div>

                <button class="btn button-blue button-small-moveleft" type="submit" name="button" id="btnSubmitNewBoard">Create</button>

                <button class="btn button-cancel button-small" name="button" id="btnCancelInput">Cancel</button>
              </form>
            </div>

          </div>
        </div>
      </div>

    </div>


    <script src="../../js/jquery.min.js" charset="utf-8"></script>
    <script src="../../js/bootstrap.min.js" charset="utf-8"></script>
    <script src="../../api/boards/createBoard.js" charset="utf-8"></script>
    <script src="../../interaction/newBoard.js" charset="utf-8"></script>
  </body>
</html>
