<div id="pageContent">
  <h1>Jos jedan test, tj test2</h1>
  <h4 class="subtitle"><%= testNaslov %></h4>
  <div class="container-fluid">
    <div class="top col-md-12">
        <button class="btn button-blue button-small"><b>ae</b></button>
    </div>
    <div class="group-title">
      <h5><b>All boards</b></h5>
    </div>

    <div class="main-content">
      <div class="row board-row" id="allBoards">
        <%= testUser %>

    </div>
  </div>
</div>
