.board-row{
  .col-sm-6, .col-md-4, .col-lg-3{
    margin-top: 25px;
  }
}
.loading{
  opacity: 0.5;
}
.group-title{
  color: $groupTitleGray;
}
.type-title{
  color: $groupTitleGray;
}
a{
    text-decoration: none !important;
}
.board{
  width: 100%;
  background: #fff;
  height: 150px;
  @include border-radius(4px);
  //@include box-shadow(5px);
  @include custom-shadow(1px,2px,50px,-20px,0.5);
  //box-shadow: 1px 2px 50px -20px rgba(0, 0, 0, 0.5); //1px 2px 50px -20px rgba(0, 0, 0, 0.5)
  padding: 2px 10px;
  cursor: pointer;
  transition: 0.17s ease; //TODO ovo videti da li da ostane 2 ili 0.15,0.18 itd..
  word-wrap: break-word;
  overflow: hidden;
  border: 1px solid $boardBorder;
  //border-bottom: none;
  text-decoration: none !important;

  h4{
    font-size: 0.99em;
    color: $boardHeader;
  }

  p{
    font-size: 0.82em;
    color: $groupTitleGray;
  }
}
.loading{
  opacity: 0.5;
  //TODO namestiti kako ce izgledati kartica pri loadingu
}

.board-Project{
  border-left: 4px solid $blue;
}
.board-Idea{
  border-left: 4px solid $red;
}
.board-Brainstorm{
  border-left: 4px solid $green;
}
.board-Todo{
  border-left: 4px solid $yellow;
}
// Hoveri
.board:hover{
  //transform: translateY(-5%)
  .type-title{
    color: $groupTitleGrayHover;
  }
  p{
    color: #fff;
  }
  h4{
    color: #fff;
  }
}
.board:active{
  transform: scale(0.95);
}
.board-Project:hover{
  border: 1px solid $blue;
  border-left: 20px solid $blue;
  background: $blue;
  color: #fff;
}
.board-Idea:hover{
  border: 1px solid $red;
  border-left: 20px solid $red;
  background: $red;
  color: #fff;
}
.board-Brainstorm:hover{
  border: 1px solid $green;
  border-left: 20px solid $green;
  background: $green;
  color: #fff;
}
.board-Todo:hover{
  border: 1px solid $yellow;
  border-left: 20px solid $yellow;
  background: $yellow;
  color: #fff;
}
/*.hvr-sweep-to-right:before{ videti mozda da se ubaci
  background: $blue !important;
}*/
