.board-row{
  .col-sm-6, .col-md-4, .col-lg-3{
    margin-top: 25px;
  }
}
.group-title{
  color: $groupTitleGray;
}
.type-title{
  color: $groupTitleGray;
}
.board{
  width: 100%;
  background: #fff;
  height: 150px;
  @include border-radius(4px);
  @include box-shadow(7px);
  //border: 1px solid #ccc;
  //border-bottom: 2px solid #CCC;
  padding: 2px 10px;
  cursor: pointer;
  transition: 0.2s ease;
  word-wrap: break-word;
  overflow: hidden;

  p{
    font-size: 0.82em;
  }
}
.board-blue{
  border-left: 4px solid $blue;
}
.board-red{
  border-left: 4px solid $red;
}
.board-green{
  border-left: 4px solid $green;
}
// Hoveri
.board:hover{

  .type-title{
    color: $groupTitleGrayHover;
  }
}
.board-blue:hover{
  border-left: 20px solid $blue;
  background: $blue;
  color: #fff;
}
.board-red:hover{
  border-left: 20px solid $red;
  background: $red;
  color: #fff;
}
.board-green:hover{
  border-left: 20px solid $green;
  background: $green;
  color: #fff;
}
/*.hvr-sweep-to-right:before{ videti mozda da se ubaci
  background: $blue !important;
}*/
