.board-row{
  .col-sm-6, .col-md-4, .col-lg-3{
    margin-top: 25px;
  }
}
.loading{
  opacity: 0.5;
}
.group-title{
  color: $groupTitleGray;
}
.type-title{
  color: $groupTitleGray;
  font-size: 0.82em;
}
a{
    text-decoration: none !important;
}
.board{
  width: 100%;
  background: #fff;
  height: 150px;
  @include border-radius(4px);
  //@include box-shadow(5px);
  @include custom-shadow(1px,2px,50px,-20px,0.5);
  //box-shadow: 1px 2px 50px -20px rgba(0, 0, 0, 0.5); //1px 2px 50px -20px rgba(0, 0, 0, 0.5)
  padding: 2px 10px;
  cursor: pointer;
  transition: 0.17s ease; //TODO ovo videti da li da ostane 2 ili 0.15,0.18 itd..
  word-wrap: break-word;
  //overflow: hidden;
  border: 1px solid $boardBorder;
  //border-bottom: none;
  text-decoration: none !important;
  position: relative;

  h4{
    font-size: 0.98em;
    color: $boardHeader;
    padding-right: 30px;
  }

  p.description{
    font-size: 0.82em;
    color: $groupTitleGray;
    padding-right: 30px;
  }
  .more{
    position: absolute;
    top: 32px;
    right: 0;
    width: 40px;
    font-size: 1.2em;
    display: none;
    background: transparent;
    text-align: center;
  }
  .pin{
    position: absolute;
    top: 5px;
    right: 0;
    width: 40px;
    font-size: 1.2em;
    display: none;
    background: transparent;
    text-align: center;
  }
  .more:hover, .pin:hover{
    color: #000;
  }

  .more-dropdown{
    display: none;
    position: absolute;
    top: 60px;
    right: -20px;
    width: 200px;
    height: 150px;
    background: #fff;
    border: 1px solid #ccc;
    @include custom-shadow(0px, 3px, 5px, 0px, 0.17);
    @include border-radius(4px);
    color: $lightgray;
    z-index: 11;

    ul{
      text-align: left;
      display: block;
      padding: 0;
      padding-top: 10px;

      hr{
        padding:0;
        margin: 0;
        padding-bottom: 4px;
      }

      li{
        list-style-type: none;
        display: block;
        text-align: left;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 15px;
        font-size: 1em;
        //@include border-radius(4px);
        cursor: pointer;
        transition: 0.2s ease;
      }
      li:hover{
        background: $blue;
        color: #fff;
        padding-left: 20px;
      }
    }
  }
}
.loading{
  opacity: 0.5;
  //TODO namestiti kako ce izgledati kartica pri loadingu
}

.board-Project{
  border-left: 4px solid $blue;
}
.board-Idea{
  border-left: 4px solid $red;
}
.board-Brainstorm{
  border-left: 4px solid $green;
}
.board-Todo{
  border-left: 4px solid $yellow;
}
// Hoveri
.board:hover{
  //transform: translateY(-5%)
  -webkit-transform: translateZ(0);
  .type-title{
    color: #fff;
  }
  p{
    color: #fff;
  }
  h4{
    color: #fff;
  }
  .more{
    display: block;
  }
  .pin{
    display: block;
  }

}
.board:active{
  transform: scale(0.95);
}
.board-Project:hover{
  border: 1px solid $blue;
  border-left: 20px solid $blue;
  background: $blue;
  color: #fff;
  z-index: 10;
}
.board-Idea:hover{
  border: 1px solid $red;
  border-left: 20px solid $red;
  background: $red;
  color: #fff;
  z-index: 10;
}
.board-Brainstorm:hover{
  border: 1px solid $green;
  border-left: 20px solid $green;
  background: $green;
  color: #fff;
  z-index: 10;
}
.board-Todo:hover{
  border: 1px solid $yellow;
  border-left: 20px solid $yellow;
  background: $yellow;
  color: #fff;
  z-index: 10;
}
/*.hvr-sweep-to-right:before{ videti mozda da se ubaci
  background: $blue !important;
}*/
