.button-signin{
  width: 100%;
  margin-top: 20px;
  height: 50px;
  background: $greenGradient !important;
  color: #fff;
  transition: 0.2s ease;
  @include box-shadow(7px);
  opacity: 1;
}
.button-signin:hover{
  opacity: 0.78;
  color: #fff !important;
}
.button-blue{
  width: 100%;
  margin-top: 20px;
  height: 50px;
  background: $blueGradient !important; //probati googleBlue
  color: #fff;
  transition: 0.2s ease;
  @include box-shadow(7px); //0px 2px 10px -2px rgba(77, 144, 254, 0.75) staviti da nije svuda crna senka nego one boje koje je i button.
  opacity: 1;
  //border: 1px solid $lightblue !important;
}
.button-blue:hover{
  opacity: 0.78;
  color: #fff !important;
}

.button-cancel{
  width: 100%;
  margin-top: 20px;
  height: 50px;
  background: linear-gradient(#fcfcfc, #f2f2f2) !important;
  color: $gray;
  border: 1px solid $boardBorder !important;
  transition: 0.1s ease;
  opacity: 1;
}

.button-cancel:hover{
  color: $red !important;
}
.shorten{
  width: 45%;
}

.button-signin:active, .button-signin:focus, .button-blue:active, .button-blue:focus{
  color: #fff !important;
}
.button-small{
  width: 150px;
  height: 37px;//ili 35 ili 37 ili 40
  @include box-shadow(2px); //ili 10 ili 3 ili 7
}
.button-small-moveleft{
  @extend .button-small;
  margin-left: 37px;
}
