#confirmArchivePopup{
  display: none;
  .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    z-index: 11;

    .confirmArchiveDialog{
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translateX(-50%);
      width: 600px;
      height: 240px;
      background: #fff;
      @include border-radius(4px);
      @include custom-shadow(0px, 3px, 5px, 0px, 0.17);
      padding-top: 10px;

      .popup-header{
        padding-left: 30px;
        padding-right: 30px;

        span {
          font-weight: bold;
        }
      }
      .popup-body{
        padding-left: 30px;
        padding-right: 30px;
        font-size: 0.95em;
      }
      .popup-buttons{
        padding: 5px 30px;
      }
    }
  }
}
