// Ovo je trebalo za multisearch, ali to verovatno vise necu koristiti tako da ce se vrv moci obrisati, ali nek ostane za sad
#boardsMultisearch {
  ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    li {
        margin: 0;
        padding: 0;
    }

    a {
        color: $lightgray;
        margin: 3px;
    }

    a:hover, a.hover, li.hover a {
        color: $blue;
        cursor: pointer;
    }

    .picker {
        border: 1px solid silver;
        padding: 10px;
        width: 100%;
        background: #fff;
        @include custom-radius(0px,0px,4px,4px);
        @include custom-shadow(0px, 2px, 5px, 0px, 0.10);
    }

    a.selectedItem {
      color: $lightgray;
      background: #f7f7f7;
      font-size: 0.9em;

      span.close{
        color: #000 !important;
        font-size: 1.2em;
        opacity: 0.8;
        font-weight: bold;
      }
    }
    a.label:focus, a.label:active, a.label:visited{
      box-shadow: none;
      outline: none;
      border: none;
    }
    .active{
      border:none;
    }

}
