#sidebar{
  height: 100vh;
  width: 250px;
  background: $sidebarBg;
  padding-top: 80px;
  color: #fff;
  text-align: left;
  position: fixed;
  //box-shadow: 1px 2px 100px -20px rgba(0, 0, 0, 0.5); //custom 1px 2px 100px -20px rgba(0, 0, 0, 0.75) Igrati se sa 3 i 4 parametrom
  //@include custom-shadow(5px,0px,25px,0px,0.04);
  transition: 0.2s ease-in-out;
  //border-right: 1px solid $lightergray;

/*  .userInfo{
    width: 100%;
    height: 300px;
    padding: 50px 15px;
    text-align: center;
    color: $applicationBackground;
    background: darken($sidebarBg, 5);
    transition: 0.2s ease;
    cursor: pointer;

    .profileImg{
      width: 120px;
      height: 120px;
      background: #fff;
      @include border-radius(50%);
      margin-bottom: 5px;
    }

    p{
      font-size: 0.93em;
      opacity: 0.5;
      //ovde eventualno ubaciti konkretnu boju umesto opacityja
    }
  }
  .userInfo:hover{
    background: lighten($sidebarBg, 2);
  }*/

  nav{
    ul{
      list-style-type: none;
      margin-top: 20px;
      padding: 0;

        a{
          color: #858585;
          text-decoration: none;

          li{
            padding-top: 9px;
            padding-left: 30px;
            padding-bottom: 9px;
            cursor: pointer;
            transition: 0.2s ease;
            font-family: 'Proxima Nova Alt Lt';
            font-weight: bold;
            font-style: normal;
            //@include custom-radius(0,4px,4px,0);

            span{
              font-size: 0.9em;
              font-family: 'Proxima Nova Alt Lt';
              font-weight: bold;
              font-style: normal;
            }
        }
      }
      li:hover{
        background: lighten($sidebarBg,10);
        padding-left: 35px;
        color: $sidebarOptionHover;
      }
    }
  }

  /*.bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;

    ul{
      list-style-type: none;
      padding: 0;

        a{
          color: #6A7583;
          text-decoration: none;

          li{
            padding-top: 6px;
            padding-left: 30px;
            padding-bottom: 6px;
            cursor: pointer;
            transition: 0.2s ease;
            //opacity: 0.7;
            font-family: 'Proxima Nova Lt';
            font-weight: bold;
            font-style: normal;
        }
      }
      li:hover{
        background: lighten($sidebarBg, 10);
        padding-left: 35px;
        color: $sidebarOptionHover;
      }
    }

/*    .footerLogo{
      background: darken($sidebarBg,7);
      padding: 10px 30px;
      margin: 0;
    }
  }*/

  #toggleSidebar{
    width: 100%;
    height: 20px;
    background: $red;
    cursor: pointer;
  }

  //Collapsed
  #collapsed{
    display: none;
  }
}

.active{
  background: lighten($sidebarBg,10);
  padding-left: 35px;
  color: #fff;
  //border-left: 4px solid #fff;
}
