#topbar{
	width: 100%;
	height: 70px;
	background: $topbarBg;
	position: fixed;
	z-index: 5 !important;
	@include custom-shadow(5px,0px,25px,0px,0.04);
	border-bottom: 1px solid $topbarBorderBottom; //eae9e9
	.col-sm-4{
		margin: 0;
		padding: 0;
	}
	.left-holder{
		width: 250px;
		float: left;
	}
	.right-holder{
		float: left;
		width: calc(100% - 250px);
	}
	ul{
		list-style-type: none;
		display: inline-block;
		li{
			display: inline-block;
		}
	}
	.topbar-left, .topbar-middle, .topbar-right{
		height: 70px;
		color: $lightgray;
	}
	.topbar-left{
		padding: 1px 25px;
		background: lighten($topbarLeftBg,5);
		vertical-align: middle;
		color: #fff;
		transition: 0.2s ease-in-out;
		width: 250px;
		//border-right: 1px solid $lightergray;
		line-height: 20px;
		i{
			margin-right: 10px;
			cursor: pointer;
			font-size: 1.15em;
		}
		#logotop{
			vertical-align: middle;
		}
		#toggleSidebar{
			vertical-align: middle;
		}
	}
	.topbar-middle{
		padding: 15px 20px;
		transition: 0.2s ease-in-out;
		input{
			border: 2px solid $lightergray;
			border-left: 4px solid $lightergray;
			font-size: 1.1em;
			box-shadow: none;
			width: 50%;
			height: 40px;
			transition: 0.2s ease-in-out;
			padding-left: 15px;
			position: relative;
		}
		input:focus{
			border: 2px solid $blue;
			border-left: 4px solid $blue;
			width: 80%;
		}
		::-webkit-input-placeholder { /* WebKit browsers */
    		color:    lighten($lightgray,20);
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		    color:    lighten($lightgray,20);
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
		    color:    lighten($lightgray,20);
		}
		:-ms-input-placeholder { /* Internet Explorer 10+ */
		    color:    lighten($lightgray,20);
		}
	}
	.topbar-right{
		text-align: right;
		.user-profile-btn{
			background: $topbarBg;
			border-bottom: 1px solid $lightergray;
			@include border-radius(0px);
		}
		.btn:active{
			box-shadow: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
		}
		.user-profile-main{
			//border-left: 1px solid $lightergray;
			margin-right: 20px;
			position: relative;
			cursor: pointer;
			vertical-align: middle;
			transition: 0.17s ease;
			padding: 15px 15px;
			height: 70px;
			font-size: 0.87em;
			.user-picture{
				width: 40px;
				height: 40px;
				//margin-left: 10px;
				@include border-radius(50%);
				@include custom-shadow(0px, 3px, 5px, 0px, 0.17);
			}
			i{
				font-size: 1.3em;
				font-weight: bold;
				vertical-align: middle;
			}
		}
		.user-profile-btn:hover{
			background: darken($topbarBg,5); //ili $blue
			color: #000;
			//border-bottom: 3px solid $blue;
		}

		.user-options {
			display: none;
			position: absolute;
			top: 71px;
			right: 20px;
			width: 250px;
			background: #fff;
			border: 1px solid #ccc;
			@include custom-shadow(0px, 3px, 5px, 0px, 0.17);
			@include custom-radius(0px,0px,4px,4px);

			ul{
				text-align: left;
				display: block;
				padding: 0;
				padding-top: 10px;
				hr{
					padding: 0;
					margin: 0;
					padding-top: 6px;
				}
				a{
					color: $lightgray;
					li{
						list-style-type: none;
						display: block;
						text-align: left;
						padding-top: 6px;
						padding-bottom: 6px;
						padding-left: 30px;
						font-size: 1em;
						//@include border-radius(4px);
						cursor: pointer;
						transition: 0.2s ease;

						i{
							vertical-align: middle;
							font-size: 1.6em;
						}
					}
					li:hover{
						background: $blue;
						color: #fff;
						padding-left: 35px;
					}
				}

			}
		}

		.addNewDialog-dropdown{
			display: none;
			position: absolute;
			top: 71px;
			right: 20px;
			width: 300px;
			background: #fff;
			border: 1px solid #ccc;
			@include custom-shadow(0px, 3px, 5px, 0px, 0.17);
			@include custom-radius(0px,0px,4px,4px);

			ul{
				text-align: left;
				display: block;
				padding: 0;
				padding-top: 10px;
				a{
					color: $lightgray;
					li{
						list-style-type: none;
						display: block;
						text-align: left;
						padding-top: 6px;
						padding-bottom: 6px;
						padding-left: 15px;
						font-size: 1em;
						//@include border-radius(4px);
						cursor: pointer;
						transition: 0.2s ease;

						.description{
							font-size: 0.87em;
							color: #999;
						}
					}
					li:hover{
						background: $blue;
						color: #fff;
						padding-left: 20px;
						.description{
							color: #fff;
						}
					}
				}
			}
		}
	}
	.nav-icon{
		font-size: 1.5em;
		font-weight: bold;
	}
	.dropdown-menu-icon{
		font-size: 1.3em;
		vertical-align: middle;
	}
	.plus-icon, .help-icon{
		vertical-align: middle;
		padding-left: 5px;
	}
	#btnAddNew-dropdown{
		height: 70px;
		padding-top: 25px;
		padding-left: 10px;
		transition: 0.17s ease;
	}
}
