.workspace-row{
  .col-sm-12, .col-md-6, .col-lg-4{
    margin-top: 60px;
  }
}

.workspace{
  width: 90%;
  height: 250px;
  background: #fff;
  border: 1px solid $boardBorder;
  @include border-radius(4px);
  padding: 10px 20px;
  cursor: pointer;
  word-wrap: break-word;
  position: relative;
  text-decoration: none;
  z-index: 2;
  

  h4{
    font-size: 0.98em;
    color: $boardHeader;
  }

  p{
    font-size: 0.82em;
    color: $groupTitleGray;
  }
  .workspace-back{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 20px;
    background: #fff;
    border: 1px solid $boardBorder;
    @include custom-radius(4px,4px,0,0);
  }
}
